/* main */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* nav.home-page {
    background-color: #A42323;
} */

/* login */
.wrapper {
    margin: auto;
    width: 360px;
    padding: 30px;
}

.maintxt {
    width: 1000px;
    height: 217px;
    left: 440px;
    background-image: url(../img/loginhaarlem.png);
    background-position: center;
    color: white;
    font-style: bold;
    font-size: 50px;
    text-align: center;
}

nav.events {
    color: #A42323;
}

nav.home-page {
    color: #A42323;
}

img.eventimg {
    width: 100%;
    height: 400px;
}


/**/